canvas {
  border: 2px solid rebeccapurple;
  background-color: rgb(67, 147, 201);
  height: 300px;
  width: 600px;
}

input {
  font-size: 12pt;
}

body {
  margin: 0;
  padding: 0;
  background-color: #060606;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  background-color: #060606;
}

.loader .face {
  position: absolute;
  border: 2px solid #121212;
}

.loader .face.face1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #090909;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 50%;
  border-left: 2px solid #ffff00;
  border-top: 2px solid #ffff00;
  animation: animate 3s linear infinite;
}

.loader .face.face2 {
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background-color: #090909;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 50%;
  border-right: 2px solid #03a9f4;
  border-bottom: 2px solid #03a9f4;
  animation: animate 3s linear reverse infinite;
}

.img {
    height: 160px;
    width: 150px;
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 40px;
    animation: none;
}

.loader .face .circle {
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  width: 50%;
  height: 2px;
  transform-origin: left;
}

.loader .face.face1 .circle {
  transform: rotate(-45deg);
}

.loader .face.face2 .circle {
  transform: rotate(-45deg);
}

.loader .face .circle:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  top: -4px;
  right: -6px;
}

.loader .face.face1 .circle:before {
  background-color: #ffff00;
  box-shadow: 0 0 20px #ff0, 0 0 40px #ff0, 0 0 60px #ff0, 0 0 80px #ff0,
    0 0 100px #ff0, 0 0 0 5px rgba(255, 255, 0, 0.1);
}

.loader .face.face2 .circle:before {
  background-color: #03a9f4;
  box-shadow: 0 0 20px #03a9f4, 0 0 40px #03a9f4, 0 0 60px #03a9f4,
    0 0 80px #03a9f4, 0 0 100px #03a9f4, 0 0 0 5px rgba(3, 169, 244, 0.1);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.float {
  background-color: black;
  
}

h3 {
  color: white;
}

h1 {
  font-size: 40px;
}

#container {
  margin-bottom: 100px;
  position: relative;
  height: 750px;
  background-color: #03a9f4;
  top: 500px;
  text-align: center;
}

.grn-btn {
  font-size: 22px;
}
.clr-btn {
  font-size: 22px;
}
.grn-btn:hover {
  background-color: rgb(9, 236, 9);
  color: #fff;
  font-size: 24px;
}

.clr-btn:hover {
  background-color: #03a9f4;
  color: #fff;
  font-size: 24px;
}

.fa-angle-double-down {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 660px;
  left: 20px;
}

.fa-angle-double-down:hover {
  border-radius: 50%;
  width: 30px;
  left: 30px;
}

.fa-angle-double-up {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 680px;
  left: 20px;
}

.fa-angle-double-up:hover {
  border-radius: 50%;
  width: 30px;
  left: 30px;
}

#loader {
  margin-bottom: 227px;
}

p {
  font-size: 32px;
  font-weight: bold;
}


@media (min-width: 224px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .fa-angle-double-down {
    position: absolute;
    top: 580px;
  }

  .fa-angle-double-up {
    position: absolute;
    top: 950px;
  }

  #loader {
    margin-bottom: 160px;
  }

  #container {
    position: relative;
    top: 1000px;
    height: 1000px;
  } 

  canvas {
    border: 2px solid rebeccapurple;
    background-color: rgb(67, 147, 201);
    height: 200px;
    width: 90%;
  }

  input {
    font-size: 12pt;
    position: relative;
    left: 42px;
}

.grn-btn {
  position: relative;
  left: 5px;
}
.clr-btn {
  position: relative;
  left: 1px;
}
}